@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
     <img src="~/images/catalog.png" />
    <div class="card">

        <p class="mt-3 pb-lg-5">About me <a href="https://www.linkedin.com/in/felipealvesnn/">Linkedin</a>.</p>
    </div>
    
</div>
